<?xml version="1.0" encoding="UTF-8"?>
<xmi:XMI xmi:version="2.0" xmlns:xmi="http://www.omg.org/XMI" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:notation="http://www.eclipse.org/gmf/runtime/1.0.2/notation" xmlns:sgraph="http://www.yakindu.org/sct/sgraph/2.0.0">
  <sgraph:Statechart xmi:id="_c14l8DxqEeiDDog3Fx4RNA" specification="interface:&#xA;// Define events and&#xA;// and variables here&#xA;operation opSetearLed(estado:boolean):void&#xA;internal:&#xA;&#x9;event evCambia&#xA;&#x9;every 125ms / raise evCambia" name="blinkyfsm">
    <regions xmi:id="_c2WgADxqEeiDDog3Fx4RNA" name="main region">
      <vertices xsi:type="sgraph:Entry" xmi:id="_c2vhkDxqEeiDDog3Fx4RNA">
        <outgoingTransitions xmi:id="_c222UDxqEeiDDog3Fx4RNA" target="_c2x90DxqEeiDDog3Fx4RNA"/>
      </vertices>
      <vertices xsi:type="sgraph:State" xmi:id="_c2x90DxqEeiDDog3Fx4RNA" specification="entry / opSetearLed(false)" name="Apagado" incomingTransitions="_c222UDxqEeiDDog3Fx4RNA _ShGG8DxrEeiDDog3Fx4RNA">
        <outgoingTransitions xmi:id="_QiMxUDxrEeiDDog3Fx4RNA" specification="evCambia" target="_NRLsgDxrEeiDDog3Fx4RNA"/>
      </vertices>
      <vertices xsi:type="sgraph:State" xmi:id="_NRLsgDxrEeiDDog3Fx4RNA" specification="entry / opSetearLed(true)" name="Encendido" incomingTransitions="_QiMxUDxrEeiDDog3Fx4RNA">
        <outgoingTransitions xmi:id="_ShGG8DxrEeiDDog3Fx4RNA" specification="evCambia" target="_c2x90DxqEeiDDog3Fx4RNA"/>
      </vertices>
    </regions>
  </sgraph:Statechart>
  <notation:Diagram xmi:id="_c2V48DxqEeiDDog3Fx4RNA" type="org.yakindu.sct.ui.editor.editor.StatechartDiagramEditor" element="_c14l8DxqEeiDDog3Fx4RNA" measurementUnit="Pixel">
    <children xmi:id="_c2b_kDxqEeiDDog3Fx4RNA" type="Region" element="_c2WgADxqEeiDDog3Fx4RNA">
      <children xsi:type="notation:DecorationNode" xmi:id="_c2tFUDxqEeiDDog3Fx4RNA" type="RegionName">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_c2tFUTxqEeiDDog3Fx4RNA"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_c2tsYDxqEeiDDog3Fx4RNA"/>
      </children>
      <children xsi:type="notation:Shape" xmi:id="_c2uTcDxqEeiDDog3Fx4RNA" type="RegionCompartment" fontName="Verdana" lineColor="4210752">
        <children xmi:id="_c2wIoDxqEeiDDog3Fx4RNA" type="Entry" element="_c2vhkDxqEeiDDog3Fx4RNA">
          <children xmi:id="_c2wvsDxqEeiDDog3Fx4RNA" type="BorderItemLabelContainer">
            <children xsi:type="notation:DecorationNode" xmi:id="_c2xWwDxqEeiDDog3Fx4RNA" type="BorderItemLabel">
              <styles xsi:type="notation:ShapeStyle" xmi:id="_c2xWwTxqEeiDDog3Fx4RNA"/>
              <layoutConstraint xsi:type="notation:Location" xmi:id="_c2xWwjxqEeiDDog3Fx4RNA"/>
            </children>
            <styles xsi:type="notation:ShapeStyle" xmi:id="_c2wvsTxqEeiDDog3Fx4RNA" fontName="Verdana" lineColor="4210752"/>
            <layoutConstraint xsi:type="notation:Bounds" xmi:id="_c2wvsjxqEeiDDog3Fx4RNA"/>
          </children>
          <styles xsi:type="notation:ShapeStyle" xmi:id="_c2wIoTxqEeiDDog3Fx4RNA" fontName="Verdana" fillColor="0" lineColor="16777215"/>
          <styles xsi:type="notation:NamedStyle" xmi:id="_c2wIojxqEeiDDog3Fx4RNA" name="allowColors"/>
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_c2xWwzxqEeiDDog3Fx4RNA" x="144" y="26"/>
        </children>
        <children xmi:id="_c2zzATxqEeiDDog3Fx4RNA" type="State" element="_c2x90DxqEeiDDog3Fx4RNA">
          <children xsi:type="notation:DecorationNode" xmi:id="_c20aEDxqEeiDDog3Fx4RNA" type="StateName">
            <styles xsi:type="notation:ShapeStyle" xmi:id="_c20aETxqEeiDDog3Fx4RNA"/>
            <layoutConstraint xsi:type="notation:Location" xmi:id="_c20aEjxqEeiDDog3Fx4RNA"/>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_c21oMDxqEeiDDog3Fx4RNA" type="StateTextCompartment">
            <children xsi:type="notation:Shape" xmi:id="_c21oMTxqEeiDDog3Fx4RNA" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
              <layoutConstraint xsi:type="notation:Bounds" xmi:id="_c21oMjxqEeiDDog3Fx4RNA"/>
            </children>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_c21oMzxqEeiDDog3Fx4RNA" type="StateFigureCompartment"/>
          <styles xsi:type="notation:ShapeStyle" xmi:id="_c2zzAjxqEeiDDog3Fx4RNA" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
          <styles xsi:type="notation:FontStyle" xmi:id="_c2zzAzxqEeiDDog3Fx4RNA"/>
          <styles xsi:type="notation:BooleanValueStyle" xmi:id="_c22PQDxqEeiDDog3Fx4RNA" name="isHorizontal" booleanValue="true"/>
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_c22PQTxqEeiDDog3Fx4RNA" x="54" y="81" width="201"/>
        </children>
        <children xmi:id="_NRLFcDxrEeiDDog3Fx4RNA" type="State" element="_NRLsgDxrEeiDDog3Fx4RNA">
          <children xsi:type="notation:DecorationNode" xmi:id="_NRLFcTxrEeiDDog3Fx4RNA" type="StateName">
            <styles xsi:type="notation:ShapeStyle" xmi:id="_NRLFcjxrEeiDDog3Fx4RNA"/>
            <layoutConstraint xsi:type="notation:Location" xmi:id="_NRLFczxrEeiDDog3Fx4RNA"/>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_NRLFdDxrEeiDDog3Fx4RNA" type="StateTextCompartment">
            <children xsi:type="notation:Shape" xmi:id="_NRLFdTxrEeiDDog3Fx4RNA" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
              <layoutConstraint xsi:type="notation:Bounds" xmi:id="_NRLFdjxrEeiDDog3Fx4RNA"/>
            </children>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_NRLFdzxrEeiDDog3Fx4RNA" type="StateFigureCompartment"/>
          <styles xsi:type="notation:ShapeStyle" xmi:id="_NRLFeDxrEeiDDog3Fx4RNA" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
          <styles xsi:type="notation:FontStyle" xmi:id="_NRLFeTxrEeiDDog3Fx4RNA"/>
          <styles xsi:type="notation:BooleanValueStyle" xmi:id="_NRLFejxrEeiDDog3Fx4RNA" name="isHorizontal" booleanValue="true"/>
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_NRLFezxrEeiDDog3Fx4RNA" x="54" y="196" width="201"/>
        </children>
        <layoutConstraint xsi:type="notation:Bounds" xmi:id="_c2uTcTxqEeiDDog3Fx4RNA"/>
      </children>
      <styles xsi:type="notation:ShapeStyle" xmi:id="_c2b_kTxqEeiDDog3Fx4RNA" fontName="Verdana" fillColor="15790320" lineColor="12632256"/>
      <layoutConstraint xsi:type="notation:Bounds" xmi:id="_c2u6gDxqEeiDDog3Fx4RNA" x="410" y="10" width="376" height="400"/>
    </children>
    <children xsi:type="notation:Shape" xmi:id="_c2888DxqEeiDDog3Fx4RNA" type="StatechartText" fontName="Verdana" lineColor="4210752">
      <children xsi:type="notation:DecorationNode" xmi:id="_c2888jxqEeiDDog3Fx4RNA" type="StatechartName">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_c2888zxqEeiDDog3Fx4RNA"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_c2889DxqEeiDDog3Fx4RNA"/>
      </children>
      <children xsi:type="notation:Shape" xmi:id="_c2889TxqEeiDDog3Fx4RNA" type="StatechartTextExpression" fontName="Verdana" lineColor="4210752">
        <layoutConstraint xsi:type="notation:Bounds" xmi:id="_c2889jxqEeiDDog3Fx4RNA"/>
      </children>
      <layoutConstraint xsi:type="notation:Bounds" xmi:id="_c29kADxqEeiDDog3Fx4RNA" x="10" y="10" width="376" height="400"/>
    </children>
    <styles xsi:type="notation:DiagramStyle" xmi:id="_c2V48TxqEeiDDog3Fx4RNA"/>
    <edges xmi:id="_c27u0DxqEeiDDog3Fx4RNA" type="Transition" element="_c222UDxqEeiDDog3Fx4RNA" source="_c2wIoDxqEeiDDog3Fx4RNA" target="_c2zzATxqEeiDDog3Fx4RNA">
      <children xsi:type="notation:DecorationNode" xmi:id="_c28V4TxqEeiDDog3Fx4RNA" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_c28V4jxqEeiDDog3Fx4RNA"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_c28V4zxqEeiDDog3Fx4RNA" y="10"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_c27u0TxqEeiDDog3Fx4RNA" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_c28V4DxqEeiDDog3Fx4RNA" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_c27u0jxqEeiDDog3Fx4RNA" points="[0, 0, 0, 0]$[0, 0, 0, 0]"/>
    </edges>
    <edges xmi:id="_QiOmgDxrEeiDDog3Fx4RNA" type="Transition" element="_QiMxUDxrEeiDDog3Fx4RNA" source="_c2zzATxqEeiDDog3Fx4RNA" target="_NRLFcDxrEeiDDog3Fx4RNA">
      <children xsi:type="notation:DecorationNode" xmi:id="_QiOmhDxrEeiDDog3Fx4RNA" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_QiOmhTxrEeiDDog3Fx4RNA"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_QiOmhjxrEeiDDog3Fx4RNA" x="1" y="41"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_QiOmgTxrEeiDDog3Fx4RNA" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_QiOmgzxrEeiDDog3Fx4RNA" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_QiOmgjxrEeiDDog3Fx4RNA" points="[2, 5, 1, -77]$[2, 72, 1, -10]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_QiQbsDxrEeiDDog3Fx4RNA" id="(0.17412935323383086,0.9056603773584906)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_QiQbsTxrEeiDDog3Fx4RNA" id="(0.1791044776119403,0.22641509433962265)"/>
    </edges>
    <edges xmi:id="_ShHVEDxrEeiDDog3Fx4RNA" type="Transition" element="_ShGG8DxrEeiDDog3Fx4RNA" source="_NRLFcDxrEeiDDog3Fx4RNA" target="_c2zzATxqEeiDDog3Fx4RNA">
      <children xsi:type="notation:DecorationNode" xmi:id="_ShHVFDxrEeiDDog3Fx4RNA" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_ShHVFTxrEeiDDog3Fx4RNA"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_ShHVFjxrEeiDDog3Fx4RNA" x="-2" y="43"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_ShHVETxrEeiDDog3Fx4RNA" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_ShHVEzxrEeiDDog3Fx4RNA" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_ShHVEjxrEeiDDog3Fx4RNA" points="[6, -4, 5, 70]$[6, -71, 5, 3]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_ShJKQDxrEeiDDog3Fx4RNA" id="(0.8009950248756219,0.09433962264150944)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_ShJKQTxrEeiDDog3Fx4RNA" id="(0.8059701492537313,0.9433962264150944)"/>
    </edges>
  </notation:Diagram>
</xmi:XMI>
