<?xml version="1.0" encoding="UTF-8"?>
<xmi:XMI xmi:version="2.0" xmlns:xmi="http://www.omg.org/XMI" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:notation="http://www.eclipse.org/gmf/runtime/1.0.2/notation" xmlns:sgraph="http://www.yakindu.org/sct/sgraph/2.0.0">
  <sgraph:Statechart xmi:id="_c14l8DxqEeiDDog3Fx4RNA" specification="interface:&#xA;// Define events and&#xA;// and variables here&#xA;operation opSetearLed(estado:boolean):void&#xA;var boton : boolean&#xA;&#xA;internal:&#xA;&#x9;event evToggle&#xA;&#x9;event evBlinky&#xA;&#x9;every 125ms / raise evBlinky&#xA;&#x9;var deBounce : integer&#xA;&#x9;const debTime : integer= 20" name="blinkyboton">
    <regions xmi:id="_c2WgADxqEeiDDog3Fx4RNA" name="main region">
      <vertices xsi:type="sgraph:Entry" xmi:id="_c2vhkDxqEeiDDog3Fx4RNA">
        <outgoingTransitions xmi:id="_Q0bEUD0cEeivm6TV92gd8A" specification="" target="_ZQIzwD0ZEeivm6TV92gd8A"/>
      </vertices>
      <vertices xsi:type="sgraph:State" xmi:id="_ZQIzwD0ZEeivm6TV92gd8A" specification="" name="EsperaBoton" incomingTransitions="_Q0bEUD0cEeivm6TV92gd8A _wWnfwD0cEeivm6TV92gd8A _VaAS4D0dEeivm6TV92gd8A">
        <outgoingTransitions xmi:id="_YpzsMD0cEeivm6TV92gd8A" specification="[boton == true]/deBounce = debTime" target="_R6iX0D0cEeivm6TV92gd8A"/>
      </vertices>
      <vertices xsi:type="sgraph:State" xmi:id="_R6iX0D0cEeivm6TV92gd8A" specification="every 1ms [deBounce>0]/deBounce = deBounce -1" name="Antirrebote" incomingTransitions="_YpzsMD0cEeivm6TV92gd8A">
        <outgoingTransitions xmi:id="_olLjwD0cEeivm6TV92gd8A" specification="[deBounce == 0 &amp;&amp; boton==true] / raise evToggle" target="_k39rID0cEeivm6TV92gd8A"/>
        <outgoingTransitions xmi:id="_wWnfwD0cEeivm6TV92gd8A" specification="[deBounce == 0 &amp;&amp; boton == false]" target="_ZQIzwD0ZEeivm6TV92gd8A"/>
      </vertices>
      <vertices xsi:type="sgraph:State" xmi:id="_k39rID0cEeivm6TV92gd8A" name="Presionado" incomingTransitions="_olLjwD0cEeivm6TV92gd8A">
        <outgoingTransitions xmi:id="_VaAS4D0dEeivm6TV92gd8A" specification="[boton==false]" target="_ZQIzwD0ZEeivm6TV92gd8A"/>
      </vertices>
    </regions>
    <regions xmi:id="_NDS44D0YEeivm6TV92gd8A" name="regionParpadeo">
      <vertices xsi:type="sgraph:State" xmi:id="_W8jdAD0YEeivm6TV92gd8A" name="Parpadea" incomingTransitions="_eEw10D0YEeivm6TV92gd8A _oZlUkD0YEeivm6TV92gd8A">
        <outgoingTransitions xmi:id="_ivdqYD0YEeivm6TV92gd8A" specification="evToggle" target="_hQt0fD0YEeivm6TV92gd8A"/>
        <regions xmi:id="_W8krIz0YEeivm6TV92gd8A" name="r1">
          <vertices xsi:type="sgraph:State" xmi:id="_W8krJD0YEeivm6TV92gd8A" specification="entry / opSetearLed(false)" name="Apagado" incomingTransitions="_W8nueD0YEeivm6TV92gd8A">
            <outgoingTransitions xmi:id="_W8mgUD0YEeivm6TV92gd8A" specification="evBlinky" target="_W8nHYz0YEeivm6TV92gd8A"/>
          </vertices>
          <vertices xsi:type="sgraph:State" xmi:id="_W8nHYz0YEeivm6TV92gd8A" specification="entry / opSetearLed(true)" name="Encendido" incomingTransitions="_W8mgUD0YEeivm6TV92gd8A _W8o8lD0YEeivm6TV92gd8A">
            <outgoingTransitions xmi:id="_W8nueD0YEeivm6TV92gd8A" specification="evBlinky" target="_W8krJD0YEeivm6TV92gd8A"/>
          </vertices>
          <vertices xsi:type="sgraph:Entry" xmi:id="_W8o8kz0YEeivm6TV92gd8A">
            <outgoingTransitions xmi:id="_W8o8lD0YEeivm6TV92gd8A" specification="" target="_W8nHYz0YEeivm6TV92gd8A"/>
          </vertices>
        </regions>
      </vertices>
      <vertices xsi:type="sgraph:Entry" xmi:id="_ZRiXYD0YEeivm6TV92gd8A">
        <outgoingTransitions xmi:id="_eEw10D0YEeivm6TV92gd8A" specification="" target="_W8jdAD0YEeivm6TV92gd8A"/>
      </vertices>
      <vertices xsi:type="sgraph:State" xmi:id="_hQt0fD0YEeivm6TV92gd8A" specification="entry / opSetearLed(false)" name="Apagado" incomingTransitions="_ivdqYD0YEeivm6TV92gd8A">
        <outgoingTransitions xmi:id="_oZlUkD0YEeivm6TV92gd8A" specification="evToggle" target="_W8jdAD0YEeivm6TV92gd8A"/>
      </vertices>
    </regions>
  </sgraph:Statechart>
  <notation:Diagram xmi:id="_c2V48DxqEeiDDog3Fx4RNA" type="org.yakindu.sct.ui.editor.editor.StatechartDiagramEditor" element="_c14l8DxqEeiDDog3Fx4RNA" measurementUnit="Pixel">
    <children xmi:id="_c2b_kDxqEeiDDog3Fx4RNA" type="Region" element="_c2WgADxqEeiDDog3Fx4RNA">
      <children xsi:type="notation:DecorationNode" xmi:id="_c2tFUDxqEeiDDog3Fx4RNA" type="RegionName">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_c2tFUTxqEeiDDog3Fx4RNA"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_c2tsYDxqEeiDDog3Fx4RNA"/>
      </children>
      <children xsi:type="notation:Shape" xmi:id="_c2uTcDxqEeiDDog3Fx4RNA" type="RegionCompartment" fontName="Verdana" lineColor="4210752">
        <children xmi:id="_c2wIoDxqEeiDDog3Fx4RNA" type="Entry" element="_c2vhkDxqEeiDDog3Fx4RNA">
          <children xmi:id="_c2wvsDxqEeiDDog3Fx4RNA" type="BorderItemLabelContainer">
            <children xsi:type="notation:DecorationNode" xmi:id="_c2xWwDxqEeiDDog3Fx4RNA" type="BorderItemLabel">
              <styles xsi:type="notation:ShapeStyle" xmi:id="_c2xWwTxqEeiDDog3Fx4RNA"/>
              <layoutConstraint xsi:type="notation:Location" xmi:id="_c2xWwjxqEeiDDog3Fx4RNA"/>
            </children>
            <styles xsi:type="notation:ShapeStyle" xmi:id="_c2wvsTxqEeiDDog3Fx4RNA" fontName="Verdana" lineColor="4210752"/>
            <layoutConstraint xsi:type="notation:Bounds" xmi:id="_c2wvsjxqEeiDDog3Fx4RNA"/>
          </children>
          <styles xsi:type="notation:ShapeStyle" xmi:id="_c2wIoTxqEeiDDog3Fx4RNA" fontName="Verdana" fillColor="0" lineColor="16777215"/>
          <styles xsi:type="notation:NamedStyle" xmi:id="_c2wIojxqEeiDDog3Fx4RNA" name="allowColors"/>
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_c2xWwzxqEeiDDog3Fx4RNA" x="282" y="-61" width="16" height="16"/>
        </children>
        <children xmi:id="_ZQO6YD0ZEeivm6TV92gd8A" type="State" element="_ZQIzwD0ZEeivm6TV92gd8A">
          <children xsi:type="notation:DecorationNode" xmi:id="_ZQPhcD0ZEeivm6TV92gd8A" type="StateName">
            <styles xsi:type="notation:ShapeStyle" xmi:id="_ZQPhcT0ZEeivm6TV92gd8A"/>
            <layoutConstraint xsi:type="notation:Location" xmi:id="_ZQPhcj0ZEeivm6TV92gd8A"/>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_ZQQIgD0ZEeivm6TV92gd8A" type="StateTextCompartment">
            <children xsi:type="notation:Shape" xmi:id="_ZQQIgT0ZEeivm6TV92gd8A" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
              <layoutConstraint xsi:type="notation:Bounds" xmi:id="_ZQQIgj0ZEeivm6TV92gd8A"/>
            </children>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_ZQQvkD0ZEeivm6TV92gd8A" type="StateFigureCompartment"/>
          <styles xsi:type="notation:ShapeStyle" xmi:id="_ZQO6YT0ZEeivm6TV92gd8A" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
          <styles xsi:type="notation:FontStyle" xmi:id="_ZQO6Yj0ZEeivm6TV92gd8A"/>
          <styles xsi:type="notation:BooleanValueStyle" xmi:id="_ZQQvkT0ZEeivm6TV92gd8A" name="isHorizontal" booleanValue="true"/>
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_ZQO6Yz0ZEeivm6TV92gd8A" x="122" y="6" width="391" height="71"/>
        </children>
        <children xmi:id="_R6kNAD0cEeivm6TV92gd8A" type="State" element="_R6iX0D0cEeivm6TV92gd8A">
          <children xsi:type="notation:DecorationNode" xmi:id="_R6k0ED0cEeivm6TV92gd8A" type="StateName">
            <styles xsi:type="notation:ShapeStyle" xmi:id="_R6k0ET0cEeivm6TV92gd8A"/>
            <layoutConstraint xsi:type="notation:Location" xmi:id="_R6k0Ej0cEeivm6TV92gd8A"/>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_R6k0Ez0cEeivm6TV92gd8A" type="StateTextCompartment">
            <children xsi:type="notation:Shape" xmi:id="_R6k0FD0cEeivm6TV92gd8A" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
              <layoutConstraint xsi:type="notation:Bounds" xmi:id="_R6k0FT0cEeivm6TV92gd8A"/>
            </children>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_R6lbID0cEeivm6TV92gd8A" type="StateFigureCompartment"/>
          <styles xsi:type="notation:ShapeStyle" xmi:id="_R6kNAT0cEeivm6TV92gd8A" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
          <styles xsi:type="notation:FontStyle" xmi:id="_R6kNAj0cEeivm6TV92gd8A"/>
          <styles xsi:type="notation:BooleanValueStyle" xmi:id="_R6lbIT0cEeivm6TV92gd8A" name="isHorizontal" booleanValue="true"/>
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_R6kNAz0cEeivm6TV92gd8A" x="120" y="131" width="283" height="93"/>
        </children>
        <children xmi:id="_k3_gUD0cEeivm6TV92gd8A" type="State" element="_k39rID0cEeivm6TV92gd8A">
          <children xsi:type="notation:DecorationNode" xmi:id="_k4AHYD0cEeivm6TV92gd8A" type="StateName">
            <styles xsi:type="notation:ShapeStyle" xmi:id="_k4AHYT0cEeivm6TV92gd8A"/>
            <layoutConstraint xsi:type="notation:Location" xmi:id="_k4AHYj0cEeivm6TV92gd8A"/>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_k4AHYz0cEeivm6TV92gd8A" type="StateTextCompartment">
            <children xsi:type="notation:Shape" xmi:id="_k4AHZD0cEeivm6TV92gd8A" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
              <layoutConstraint xsi:type="notation:Bounds" xmi:id="_k4AHZT0cEeivm6TV92gd8A"/>
            </children>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_k4AucD0cEeivm6TV92gd8A" type="StateFigureCompartment"/>
          <styles xsi:type="notation:ShapeStyle" xmi:id="_k3_gUT0cEeivm6TV92gd8A" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
          <styles xsi:type="notation:FontStyle" xmi:id="_k3_gUj0cEeivm6TV92gd8A"/>
          <styles xsi:type="notation:BooleanValueStyle" xmi:id="_k4AucT0cEeivm6TV92gd8A" name="isHorizontal" booleanValue="true"/>
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_k3_gUz0cEeivm6TV92gd8A" x="120" y="271" width="283" height="87"/>
        </children>
        <layoutConstraint xsi:type="notation:Bounds" xmi:id="_c2uTcTxqEeiDDog3Fx4RNA"/>
      </children>
      <styles xsi:type="notation:ShapeStyle" xmi:id="_c2b_kTxqEeiDDog3Fx4RNA" fontName="Verdana" fillColor="15790320" lineColor="12632256"/>
      <layoutConstraint xsi:type="notation:Bounds" xmi:id="_c2u6gDxqEeiDDog3Fx4RNA" x="392" y="8" width="774" height="459"/>
    </children>
    <children xsi:type="notation:Shape" xmi:id="_c2888DxqEeiDDog3Fx4RNA" type="StatechartText" fontName="Verdana" lineColor="4210752">
      <children xsi:type="notation:DecorationNode" xmi:id="_c2888jxqEeiDDog3Fx4RNA" type="StatechartName">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_c2888zxqEeiDDog3Fx4RNA"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_c2889DxqEeiDDog3Fx4RNA"/>
      </children>
      <children xsi:type="notation:Shape" xmi:id="_c2889TxqEeiDDog3Fx4RNA" type="StatechartTextExpression" fontName="Verdana" lineColor="4210752">
        <layoutConstraint xsi:type="notation:Bounds" xmi:id="_c2889jxqEeiDDog3Fx4RNA"/>
      </children>
      <layoutConstraint xsi:type="notation:Bounds" xmi:id="_c29kADxqEeiDDog3Fx4RNA" x="10" y="10" width="376" height="414"/>
    </children>
    <children xmi:id="_NDV8MD0YEeivm6TV92gd8A" type="Region" element="_NDS44D0YEeivm6TV92gd8A">
      <children xsi:type="notation:DecorationNode" xmi:id="_NDWjQD0YEeivm6TV92gd8A" type="RegionName">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_NDWjQT0YEeivm6TV92gd8A"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_NDWjQj0YEeivm6TV92gd8A"/>
      </children>
      <children xsi:type="notation:Shape" xmi:id="_NDWjQz0YEeivm6TV92gd8A" type="RegionCompartment" fontName="Verdana" lineColor="4210752">
        <children xmi:id="_W8i18D0YEeivm6TV92gd8A" type="State" element="_W8jdAD0YEeivm6TV92gd8A">
          <children xsi:type="notation:DecorationNode" xmi:id="_W8i18T0YEeivm6TV92gd8A" type="StateName">
            <styles xsi:type="notation:ShapeStyle" xmi:id="_W8i18j0YEeivm6TV92gd8A"/>
            <layoutConstraint xsi:type="notation:Location" xmi:id="_W8i18z0YEeivm6TV92gd8A"/>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_W8i19D0YEeivm6TV92gd8A" type="StateTextCompartment">
            <children xsi:type="notation:Shape" xmi:id="_W8i19T0YEeivm6TV92gd8A" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
              <layoutConstraint xsi:type="notation:Bounds" xmi:id="_W8i19j0YEeivm6TV92gd8A"/>
            </children>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_W8i19z0YEeivm6TV92gd8A" type="StateFigureCompartment">
            <children xmi:id="_W8i1-D0YEeivm6TV92gd8A" type="Region" element="_W8krIz0YEeivm6TV92gd8A">
              <children xsi:type="notation:DecorationNode" xmi:id="_W8i1-T0YEeivm6TV92gd8A" type="RegionName">
                <styles xsi:type="notation:ShapeStyle" xmi:id="_W8i1-j0YEeivm6TV92gd8A"/>
                <layoutConstraint xsi:type="notation:Location" xmi:id="_W8i1-z0YEeivm6TV92gd8A"/>
              </children>
              <children xsi:type="notation:Shape" xmi:id="_W8i1_D0YEeivm6TV92gd8A" type="RegionCompartment" fontName="Verdana" lineColor="4210752">
                <children xmi:id="_W8i1_T0YEeivm6TV92gd8A" type="State" element="_W8krJD0YEeivm6TV92gd8A">
                  <children xsi:type="notation:DecorationNode" xmi:id="_W8i1_j0YEeivm6TV92gd8A" type="StateName">
                    <styles xsi:type="notation:ShapeStyle" xmi:id="_W8i1_z0YEeivm6TV92gd8A"/>
                    <layoutConstraint xsi:type="notation:Location" xmi:id="_W8i2AD0YEeivm6TV92gd8A"/>
                  </children>
                  <children xsi:type="notation:Compartment" xmi:id="_W8i2AT0YEeivm6TV92gd8A" type="StateTextCompartment">
                    <children xsi:type="notation:Shape" xmi:id="_W8i2Aj0YEeivm6TV92gd8A" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
                      <layoutConstraint xsi:type="notation:Bounds" xmi:id="_W8i2Az0YEeivm6TV92gd8A"/>
                    </children>
                  </children>
                  <children xsi:type="notation:Compartment" xmi:id="_W8i2BD0YEeivm6TV92gd8A" type="StateFigureCompartment"/>
                  <styles xsi:type="notation:ShapeStyle" xmi:id="_W8i2BT0YEeivm6TV92gd8A" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
                  <styles xsi:type="notation:FontStyle" xmi:id="_W8i2Bj0YEeivm6TV92gd8A"/>
                  <styles xsi:type="notation:BooleanValueStyle" xmi:id="_W8i2Bz0YEeivm6TV92gd8A" name="isHorizontal" booleanValue="true"/>
                  <layoutConstraint xsi:type="notation:Bounds" xmi:id="_W8i2CD0YEeivm6TV92gd8A" x="60" y="9" width="201"/>
                </children>
                <children xmi:id="_W8i2CT0YEeivm6TV92gd8A" type="State" element="_W8nHYz0YEeivm6TV92gd8A">
                  <children xsi:type="notation:DecorationNode" xmi:id="_W8i2Cj0YEeivm6TV92gd8A" type="StateName">
                    <styles xsi:type="notation:ShapeStyle" xmi:id="_W8i2Cz0YEeivm6TV92gd8A"/>
                    <layoutConstraint xsi:type="notation:Location" xmi:id="_W8i2DD0YEeivm6TV92gd8A"/>
                  </children>
                  <children xsi:type="notation:Compartment" xmi:id="_W8i2DT0YEeivm6TV92gd8A" type="StateTextCompartment">
                    <children xsi:type="notation:Shape" xmi:id="_W8i2Dj0YEeivm6TV92gd8A" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
                      <layoutConstraint xsi:type="notation:Bounds" xmi:id="_W8i2Dz0YEeivm6TV92gd8A"/>
                    </children>
                  </children>
                  <children xsi:type="notation:Compartment" xmi:id="_W8i2ED0YEeivm6TV92gd8A" type="StateFigureCompartment"/>
                  <styles xsi:type="notation:ShapeStyle" xmi:id="_W8i2ET0YEeivm6TV92gd8A" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
                  <styles xsi:type="notation:FontStyle" xmi:id="_W8i2Ej0YEeivm6TV92gd8A"/>
                  <styles xsi:type="notation:BooleanValueStyle" xmi:id="_W8i2Ez0YEeivm6TV92gd8A" name="isHorizontal" booleanValue="true"/>
                  <layoutConstraint xsi:type="notation:Bounds" xmi:id="_W8i2FD0YEeivm6TV92gd8A" x="59" y="116" width="201" height="53"/>
                </children>
                <children xmi:id="_W8i2FT0YEeivm6TV92gd8A" type="Entry" element="_W8o8kz0YEeivm6TV92gd8A">
                  <children xmi:id="_W8i2Fj0YEeivm6TV92gd8A" type="BorderItemLabelContainer">
                    <children xsi:type="notation:DecorationNode" xmi:id="_W8i2Fz0YEeivm6TV92gd8A" type="BorderItemLabel">
                      <styles xsi:type="notation:ShapeStyle" xmi:id="_W8i2GD0YEeivm6TV92gd8A"/>
                      <layoutConstraint xsi:type="notation:Location" xmi:id="_W8i2GT0YEeivm6TV92gd8A"/>
                    </children>
                    <styles xsi:type="notation:ShapeStyle" xmi:id="_W8i2Gj0YEeivm6TV92gd8A" fontName="Verdana" lineColor="4210752"/>
                    <layoutConstraint xsi:type="notation:Bounds" xmi:id="_W8i2Gz0YEeivm6TV92gd8A"/>
                  </children>
                  <styles xsi:type="notation:ShapeStyle" xmi:id="_W8i2HD0YEeivm6TV92gd8A" fontName="Verdana" fillColor="0" lineColor="16777215"/>
                  <styles xsi:type="notation:NamedStyle" xmi:id="_W8i2HT0YEeivm6TV92gd8A" name="allowColors"/>
                  <layoutConstraint xsi:type="notation:Bounds" xmi:id="_W8i2Hj0YEeivm6TV92gd8A" x="5" y="132"/>
                </children>
                <layoutConstraint xsi:type="notation:Bounds" xmi:id="_W8i2Hz0YEeivm6TV92gd8A"/>
              </children>
              <styles xsi:type="notation:ShapeStyle" xmi:id="_W8i2ID0YEeivm6TV92gd8A" fontName="Verdana" fillColor="15790320" lineColor="12632256"/>
              <layoutConstraint xsi:type="notation:Bounds" xmi:id="_W8i2IT0YEeivm6TV92gd8A"/>
            </children>
          </children>
          <styles xsi:type="notation:ShapeStyle" xmi:id="_W8i2Ij0YEeivm6TV92gd8A" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
          <styles xsi:type="notation:FontStyle" xmi:id="_W8i2Iz0YEeivm6TV92gd8A"/>
          <styles xsi:type="notation:BooleanValueStyle" xmi:id="_W8i2JD0YEeivm6TV92gd8A" name="isHorizontal" booleanValue="true"/>
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_W8i2JT0YEeivm6TV92gd8A" x="27" y="84" width="348" height="300"/>
        </children>
        <children xmi:id="_ZRjlgD0YEeivm6TV92gd8A" type="Entry" element="_ZRiXYD0YEeivm6TV92gd8A">
          <children xmi:id="_ZRkMkD0YEeivm6TV92gd8A" type="BorderItemLabelContainer">
            <children xsi:type="notation:DecorationNode" xmi:id="_ZRkzoD0YEeivm6TV92gd8A" type="BorderItemLabel">
              <styles xsi:type="notation:ShapeStyle" xmi:id="_ZRkzoT0YEeivm6TV92gd8A"/>
              <layoutConstraint xsi:type="notation:Location" xmi:id="_ZRkzoj0YEeivm6TV92gd8A"/>
            </children>
            <styles xsi:type="notation:ShapeStyle" xmi:id="_ZRkMkT0YEeivm6TV92gd8A" fontName="Verdana" lineColor="4210752"/>
            <layoutConstraint xsi:type="notation:Bounds" xmi:id="_ZRkMkj0YEeivm6TV92gd8A"/>
          </children>
          <styles xsi:type="notation:ShapeStyle" xmi:id="_ZRjlgT0YEeivm6TV92gd8A" fontName="Verdana" fillColor="0" lineColor="16777215"/>
          <styles xsi:type="notation:NamedStyle" xmi:id="_ZRjlgj0YEeivm6TV92gd8A" name="allowColors"/>
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_ZRjlgz0YEeivm6TV92gd8A" x="187" y="16"/>
        </children>
        <children xmi:id="_hQt0cD0YEeivm6TV92gd8A" type="State" element="_hQt0fD0YEeivm6TV92gd8A">
          <children xsi:type="notation:DecorationNode" xmi:id="_hQt0cT0YEeivm6TV92gd8A" type="StateName">
            <styles xsi:type="notation:ShapeStyle" xmi:id="_hQt0cj0YEeivm6TV92gd8A"/>
            <layoutConstraint xsi:type="notation:Location" xmi:id="_hQt0cz0YEeivm6TV92gd8A"/>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_hQt0dD0YEeivm6TV92gd8A" type="StateTextCompartment">
            <children xsi:type="notation:Shape" xmi:id="_hQt0dT0YEeivm6TV92gd8A" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
              <layoutConstraint xsi:type="notation:Bounds" xmi:id="_hQt0dj0YEeivm6TV92gd8A"/>
            </children>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_hQt0dz0YEeivm6TV92gd8A" type="StateFigureCompartment"/>
          <styles xsi:type="notation:ShapeStyle" xmi:id="_hQt0eD0YEeivm6TV92gd8A" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
          <styles xsi:type="notation:FontStyle" xmi:id="_hQt0eT0YEeivm6TV92gd8A"/>
          <styles xsi:type="notation:BooleanValueStyle" xmi:id="_hQt0ej0YEeivm6TV92gd8A" name="isHorizontal" booleanValue="true"/>
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_hQt0ez0YEeivm6TV92gd8A" x="517" y="84" width="221" height="112"/>
        </children>
        <layoutConstraint xsi:type="notation:Bounds" xmi:id="_NDWjRD0YEeivm6TV92gd8A"/>
      </children>
      <styles xsi:type="notation:ShapeStyle" xmi:id="_NDV8MT0YEeivm6TV92gd8A" fontName="Verdana" fillColor="15790320" lineColor="12632256"/>
      <layoutConstraint xsi:type="notation:Bounds" xmi:id="_NDV8Mj0YEeivm6TV92gd8A" x="392" y="478" width="774" height="424"/>
    </children>
    <styles xsi:type="notation:DiagramStyle" xmi:id="_c2V48TxqEeiDDog3Fx4RNA"/>
    <edges xmi:id="_W8r_4D0YEeivm6TV92gd8A" type="Transition" element="_W8mgUD0YEeivm6TV92gd8A" source="_W8i1_T0YEeivm6TV92gd8A" target="_W8i2CT0YEeivm6TV92gd8A">
      <children xsi:type="notation:DecorationNode" xmi:id="_W8r_4T0YEeivm6TV92gd8A" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_W8r_4j0YEeivm6TV92gd8A"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_W8r_4z0YEeivm6TV92gd8A" y="38"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_W8r_5D0YEeivm6TV92gd8A" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_W8r_5T0YEeivm6TV92gd8A" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_W8r_5j0YEeivm6TV92gd8A" points="[9, 6, 2, -77]$[9, 80, 2, -3]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_W8r_5z0YEeivm6TV92gd8A" id="(0.17412935323383086,0.9056603773584906)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_W8r_6D0YEeivm6TV92gd8A" id="(0.208955223880597,0.05660377358490566)"/>
    </edges>
    <edges xmi:id="_W8r_6T0YEeivm6TV92gd8A" type="Transition" element="_W8nueD0YEeivm6TV92gd8A" source="_W8i2CT0YEeivm6TV92gd8A" target="_W8i1_T0YEeivm6TV92gd8A">
      <children xsi:type="notation:DecorationNode" xmi:id="_W8r_6j0YEeivm6TV92gd8A" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_W8r_6z0YEeivm6TV92gd8A"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_W8r_7D0YEeivm6TV92gd8A" x="1" y="29"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_W8r_7T0YEeivm6TV92gd8A" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_W8r_7j0YEeivm6TV92gd8A" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_W8r_7z0YEeivm6TV92gd8A" points="[4, 0, 5, 83]$[4, -74, 5, 9]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_W8r_8D0YEeivm6TV92gd8A" id="(0.7064676616915423,0.0)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_W8r_8T0YEeivm6TV92gd8A" id="(0.6965174129353234,0.8490566037735849)"/>
    </edges>
    <edges xmi:id="_W8sm8D0YEeivm6TV92gd8A" type="Transition" element="_W8o8lD0YEeivm6TV92gd8A" source="_W8i2FT0YEeivm6TV92gd8A" target="_W8i2CT0YEeivm6TV92gd8A">
      <children xsi:type="notation:DecorationNode" xmi:id="_W8sm8T0YEeivm6TV92gd8A" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_W8sm8j0YEeivm6TV92gd8A"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_W8sm8z0YEeivm6TV92gd8A" y="10"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_W8sm9D0YEeivm6TV92gd8A" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_W8sm9T0YEeivm6TV92gd8A" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_W8sm9j0YEeivm6TV92gd8A" points="[7, 0, -46, 4]$[54, -23, 1, -19]"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_W8sm9z0YEeivm6TV92gd8A" id="(0.03482587064676617,0.41509433962264153)"/>
    </edges>
    <edges xmi:id="_eEzSED0YEeivm6TV92gd8A" type="Transition" element="_eEw10D0YEeivm6TV92gd8A" source="_ZRjlgD0YEeivm6TV92gd8A" target="_W8i18D0YEeivm6TV92gd8A">
      <children xsi:type="notation:DecorationNode" xmi:id="_eE0gMD0YEeivm6TV92gd8A" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_eE0gMT0YEeivm6TV92gd8A"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_eE0gMj0YEeivm6TV92gd8A" y="10"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_eEzSET0YEeivm6TV92gd8A" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_eEz5ID0YEeivm6TV92gd8A" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_eEzSEj0YEeivm6TV92gd8A" points="[0, 7, -2, -91]$[5, 61, 3, -37]"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_eE3jgD0YEeivm6TV92gd8A" id="(0.4942528735632184,0.12666666666666668)"/>
    </edges>
    <edges xmi:id="_ivffkD0YEeivm6TV92gd8A" type="Transition" element="_ivdqYD0YEeivm6TV92gd8A" source="_W8i18D0YEeivm6TV92gd8A" target="_hQt0cD0YEeivm6TV92gd8A">
      <children xsi:type="notation:DecorationNode" xmi:id="_ivgGoD0YEeivm6TV92gd8A" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_ivgGoT0YEeivm6TV92gd8A"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_ivgGoj0YEeivm6TV92gd8A" y="10"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_ivffkT0YEeivm6TV92gd8A" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_ivffkz0YEeivm6TV92gd8A" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_ivffkj0YEeivm6TV92gd8A" points="[5, -9, -147, 1]$[152, -9, 0, 1]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_ivii4D0YEeivm6TV92gd8A" id="(0.985632183908046,0.08)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_ivii4T0YEeivm6TV92gd8A" id="(0.0,0.125)"/>
    </edges>
    <edges xmi:id="_oZnJwD0YEeivm6TV92gd8A" type="Transition" element="_oZlUkD0YEeivm6TV92gd8A" source="_hQt0cD0YEeivm6TV92gd8A" target="_W8i18D0YEeivm6TV92gd8A">
      <children xsi:type="notation:DecorationNode" xmi:id="_oZnJxD0YEeivm6TV92gd8A" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_oZnJxT0YEeivm6TV92gd8A"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_oZnJxj0YEeivm6TV92gd8A" y="10"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_oZnJwT0YEeivm6TV92gd8A" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_oZnJwz0YEeivm6TV92gd8A" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_oZnJwj0YEeivm6TV92gd8A" points="[-2, 2, 153, 2]$[-150, -85, 5, -85]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_oZo-8D0YEeivm6TV92gd8A" id="(0.013574660633484163,0.7946428571428571)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_oZpmAD0YEeivm6TV92gd8A" id="(0.9827586206896551,0.29)"/>
    </edges>
    <edges xmi:id="_Q0dgkD0cEeivm6TV92gd8A" type="Transition" element="_Q0bEUD0cEeivm6TV92gd8A" source="_c2wIoDxqEeiDDog3Fx4RNA" target="_ZQO6YD0ZEeivm6TV92gd8A">
      <children xsi:type="notation:DecorationNode" xmi:id="_Q0eHoD0cEeivm6TV92gd8A" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_Q0eHoT0cEeivm6TV92gd8A"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_Q0eHoj0cEeivm6TV92gd8A" y="10"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_Q0dgkT0cEeivm6TV92gd8A" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_Q0dgkz0cEeivm6TV92gd8A" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_Q0dgkj0cEeivm6TV92gd8A" points="[-1, 7, 1, -32]$[1, 35, 3, -4]"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_Q0f80D0cEeivm6TV92gd8A" id="(0.4460431654676259,0.07042253521126761)"/>
    </edges>
    <edges xmi:id="_Yp2vgD0cEeivm6TV92gd8A" type="Transition" element="_YpzsMD0cEeivm6TV92gd8A" source="_ZQO6YD0ZEeivm6TV92gd8A" target="_R6kNAD0cEeivm6TV92gd8A">
      <children xsi:type="notation:DecorationNode" xmi:id="_Yp3WkT0cEeivm6TV92gd8A" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_Yp3Wkj0cEeivm6TV92gd8A"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_Yp3Wkz0cEeivm6TV92gd8A" y="-130"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_Yp2vgT0cEeivm6TV92gd8A" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_Yp3WkD0cEeivm6TV92gd8A" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_Yp2vgj0cEeivm6TV92gd8A" points="[-57, 10, -63, -43]$[-57, 49, -63, -4]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_Yp5y0D0cEeivm6TV92gd8A" id="(0.08951406649616368,0.9295774647887324)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_Yp5y0T0cEeivm6TV92gd8A" id="(0.1166077738515901,0.010752688172043012)"/>
    </edges>
    <edges xmi:id="_olQcQD0cEeivm6TV92gd8A" type="Transition" element="_olLjwD0cEeivm6TV92gd8A" source="_R6kNAD0cEeivm6TV92gd8A" target="_k3_gUD0cEeivm6TV92gd8A">
      <children xsi:type="notation:DecorationNode" xmi:id="_olRqYT0cEeivm6TV92gd8A" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_olRqYj0cEeivm6TV92gd8A"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_olRqYz0cEeivm6TV92gd8A" y="-231"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_olQcQT0cEeivm6TV92gd8A" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_olRqYD0cEeivm6TV92gd8A" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_olQcQj0cEeivm6TV92gd8A" points="[14, 8, 14, -57]$[14, 60, 14, -5]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_olVUwD0cEeivm6TV92gd8A" id="(0.06713780918727916,0.9139784946236559)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_olVUwT0cEeivm6TV92gd8A" id="(0.06713780918727916,0.06896551724137931)"/>
    </edges>
    <edges xmi:id="_wWpU8D0cEeivm6TV92gd8A" type="Transition" element="_wWnfwD0cEeivm6TV92gd8A" source="_R6kNAD0cEeivm6TV92gd8A" target="_ZQO6YD0ZEeivm6TV92gd8A">
      <children xsi:type="notation:DecorationNode" xmi:id="_wWpU9D0cEeivm6TV92gd8A" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_wWpU9T0cEeivm6TV92gd8A"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_wWpU9j0cEeivm6TV92gd8A" x="62" y="132"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_wWpU8T0cEeivm6TV92gd8A" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_wWpU8z0cEeivm6TV92gd8A" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_wWpU8j0cEeivm6TV92gd8A" points="[-13, -37, 24, 60]$[-32, -76, 5, 21]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_wWrKID0cEeivm6TV92gd8A" id="(0.9752650176678446,0.43010752688172044)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_wWrKIT0cEeivm6TV92gd8A" id="(0.9496402877697842,0.9154929577464789)"/>
    </edges>
    <edges xmi:id="_VaCvID0dEeivm6TV92gd8A" type="Transition" element="_VaAS4D0dEeivm6TV92gd8A" source="_k3_gUD0cEeivm6TV92gd8A" target="_ZQO6YD0ZEeivm6TV92gd8A">
      <children xsi:type="notation:DecorationNode" xmi:id="_VaCvJD0dEeivm6TV92gd8A" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_VaCvJT0dEeivm6TV92gd8A"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_VaDWMD0dEeivm6TV92gd8A" x="-154" y="34"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_VaCvIT0dEeivm6TV92gd8A" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_VaCvIz0dEeivm6TV92gd8A" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_VaCvIj0dEeivm6TV92gd8A" points="[0, 6, -9, 291]$[-98, 6, -107, 291]$[-98, -267, -107, 18]$[2, -267, -7, 18]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_VaFLYD0dEeivm6TV92gd8A" id="(0.0035335689045936395,0.45977011494252873)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_VaFLYT0dEeivm6TV92gd8A" id="(0.020460358056265986,0.2676056338028169)"/>
    </edges>
  </notation:Diagram>
</xmi:XMI>
